@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
#main-section{
    background-color:rgb(95, 84, 84);
    /* width: 100vw; */
    /* height: 100vh;   */
}
#navbar{
      /* background-color: crimson; */
      height: 98px;
      display: flex;
      padding: 0px 59px;
      padding-top: 0px;
      align-items: center; 
    }
.displaySuccess{
    display:none;
    }
.logo img{
    height:10vh;
    width:12vw;
}

#navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#navbar ul li{
    padding: 5px;
    margin: 3px;
}
#navbar ul li a{
    text-decoration: none;
    color:#cfcccc;
    padding: 0px 8px;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease-in ;
}

#navbar ul li a:hover{ 
    border-radius: 8px;
    color: cornsilk;
}
#navbar li:hover{
    transform: scale(1.1);
}
.navbar-bg{
    background-color:rgb(95, 84, 84);
    /* background-color: #5c0a27    ; */
}
.main-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 60px;
    margin-top: 20px;
    padding: 60px 0px;
    /* border: 2px solid white; */
}
.main-content{
    /* background-color: blue; */
    height: 80vh;
    width: 50%;
    padding: 30px 32px;
    padding-top: 90px;
    font-family: 'Inter', sans-serif;

    /* text-align: center; */
}
.main-content h1{
    color: white;
    font-size: 3rem;
    line-height: 5rem;

}
.main-content h2{
    color:#cfcccc;
    font-weight: 400;
    font-size: 1.5rem;
}
.main-content span{
    font-weight: 300;
}
.main-paralyx-layer{
    position: relative;
    transform: translate3d(1.8px, -5.8px, 0px);
    /* background-color: rgb(197, 176, 176); */
    width: 50%;
    overflow: hidden;
    /* height: 80vh; */
}

.main-paralyx-layer .box1 img{
        /* border: 2px solid blue; */
        position: absolute;
        height: 265px;
        width: fit-content;
        /* border: 2px solid rgb(26, 87, 255); */
        background-repeat: no-repeat;
        background-size: cover;
        top: 0%;
        left: 1%;
        position: absolute;
        filter: drop-shadow(-4px 9px 3px rgb(0, 0, 0));
        /* filter :  invert(1); */


}
        
.main-paralyx-layer .box2 img{
           /* border: 2px solid blue; */
    position: absolute;
    height: 520px;
    width: fit-content;
    /* border: 2px solid rgb(26, 87, 255); */
    background-repeat: no-repeat;
    background-size: cover;
    top: 8%;
    left: 6%;
    filter: drop-shadow(-8px 14px 5px rgb(0, 0, 0));
    /* transform: translateX(30px); */
    
}
.main-paralyx-layer .box3 img{
    /* border: 2px solid blue; */
    position: absolute;
    height: 154px;
    width: fit-content;
    /* border: 2px solid rgb(26, 87, 255); */
    background-repeat: no-repeat;
    background-size: cover;
    top: 75%;
    left: 10%;
    filter: drop-shadow(0px -8px 4px rgb(80, 77, 77));
  
}
#footer{
    background-color: #4a081f    ;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    letter-spacing: 1px;
    word-spacing: 5px;
    /* margin: 20px 0px; */
    /* font-weight: lighter; */
}